{% extends "base.html" %}
{% block content %}
Setup
<form action="/trust" method="POST">
<p/>
<table border="0">
  <tr>
    <th>Activate</th>
    <th>Username</th>
    <th>Auth V3 Endpoint</th>
    <th>Compute Endpoint</th>
  </tr>
    {% for region, auth_url_v3 in trustee.auth_urls_v3.iteritems() %}
    <tr>
        <td><input type="checkbox" name="activate" value="username"></td>
        <td>{{ trustee.username }}</td>
        <td>{{ auth_url_v3 }}</td>
        <td>{{ trustee.compute_urls[region] }}</td>
    </tr>
    {% endfor %}
</table>
<p/>
<input type="submit" value="Submit">
</form>
{% endblock %}
